{% extends 'base.html.twig' %}

{% block title %}Edit BandSong{% endblock %}

{% block body %}
    <h1>Edit BandSong</h1>

    {{ include('band_song/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_band_song_index') }}">back to list</a>

    {{ include('band_song/_delete_form.html.twig') }}
{% endblock %}
