{% extends 'base.html.twig' %}


{% block body %}


    <h1>About Us</h1>

    <p>Welcome to our band booking website, where we strive to connect event organizers with talented musicians and create unforgettable live music experiences. Here's a little bit about us:</p>

    <h2>Our History</h2>

    <p>We founded our website in 2023 with the goal of promoting live music events and supporting local artists. Since then, we've helped countless bands and event organizers create successful shows and build lasting relationships.</p>

    <h2>Our Team</h2>

    <p>Our team is made up of experienced music industry professionals who are passionate about supporting artists and creating amazing events. Meet our key team members:</p>

    <ul>
        <li> Oisin - CEO</li>
        <li> Jesse  - Founder</li>
        <li> Abdulaziz - Artist Relations Manager</li>
        <li> Joel - Event Coordinator </li>
        <li> Kluivert - Booking Manager</li>
        <li> Adam - Event Manager</li>
    </ul>

    <h2>Our Mission</h2>

    <p>At our website, we're committed to promoting diverse and inclusive music events, supporting up-and-coming artists, and providing exceptional service to our clients. We believe that music has the power to bring people together and create meaningful experiences.</p>

    <h2>Our Services</h2>

    <p>Our website offers a range of services to event organizers and artists, including:</p>

    <ul>
        <li>Event planning and management</li>
        <li>Artist promotion and marketing</li>
        <li>Booking and logistics management</li>
    </ul>

    <h2>Testimonials</h2>

    <p>Don't just take our word for it - hear from some of our satisfied clients:</p>

    <blockquote>
        "Working with the team at this website was an absolute pleasure. They were professional, organized, and helped us create a truly unforgettable event." - Sarah M., Event Organizer
    </blockquote>

    <blockquote>
        "I've worked with a lot of booking agencies over the years, and this one stands out for their commitment to supporting local artists and creating unique events. Highly recommended!" - Dave S., Musician
    </blockquote>

    <h2>Contact Us</h2>

    <p>Ready to get started? Contact us today to learn more about our services and how we can help make your next event a success:</p>

    <ul>
        <li>Phone: 555-1234</li>
        <li>Email: info@bandbooking.com</li>
        <li>Follow us on social media: <a href="#">Facebook</a>, <a href="#">Twitter</a>, <a href="#">Instagram</a></li>
    </ul>

{% endblock %}