{% extends 'base.html.twig' %}

{% block title %}Coffee{% endblock %}

{% block body %}

    <h1>Coffee break soon</h1>
    <p>
        only 90 minutes until a nice cup of coffee
    </p>
{% endblock %}
