{% extends 'base.html.twig' %}

{% block body %}
    <h1>Contact Us</h1>
    <p>Use the form below to send us a message:</p>
    <form>
        <label for="name">Your Name:</label>
        <input type="text" id="name" name="name"><br><br>
        <label for="email">Your Email:</label>
        <input type="email" id="email" name="email"><br><br>
        <label for="message">Your Message:</label>
        <textarea id="message" name="message"></textarea><br><br>
        <button type="submit">Send Message</button>
    </form>
{% endblock %}