{% extends 'base.html.twig' %}

{% block body %}
    <header class="contact-header">
        <h1>Contact Us</h1>
        <p>Have a question or need help with booking an event? We're here to help! Fill out the form below, and we'll get back to you as soon as possible.</p>
    </header>
    <form>
        <label for="name">Your Name:</label>
        <input type="text" id="name" name="name"><br><br>
        <label for="email">Your Email:</label>
        <input type="email" id="email" name="email"><br><br>
        <label for="message">Your Message:</label>
        <textarea id="message" name="message"></textarea><br><br>
        <button type="submit">Send Message</button>
    </form>
{% endblock %}