{% extends 'base.html.twig' %}

{% block title %}Get Location{% endblock %}
{% block body %}

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcjBajn0t7EJTvXcL5TNznAJ0WLB3q52Q"></script>

    <script>
        var x = document.getElementById("demo");

        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showMap);
            } else {
                x.innerHTML = "Geolocation is not supported by this browser.";
            }
        }

        function showMap(position) {

            var LatitudeLongitude = {lat: position.coords.latitude, lng: position.coords.longitude}; // specify the latitude and longitude
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 4,
                center: LatitudeLongitude
            });
            var marker = new google.maps.Marker({
                position: LatitudeLongitude,
                map: map,
                title: 'Coordinates'
            });
        }
    </script>



<p>Click the button to get your location to help decide on booking location information.</p>

<button onclick="getLocation()">Get your Location</button>

<p id="demo"></p>

<div id="map" style="height: 400px;"></div>
{% endblock %}
