{% extends 'base.html.twig' %}

    {% block title %}Location{% endblock %}

    {% block body %}

    <h1>Here is the location of the arena</h1>

    <p>
        <strong>Address:</strong>
        <br>N Wall Quay
        <br>North Dock
        <br>Dublin 1
    </p>

    <p>
        <strong>Number:</strong>
        <br>018198888
    </p>

    <p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2381.
        763126725829!2d-6.2285078!3d53.347496299999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!
        4f13.1!3m3!1m2!1s0x48670ef2ba5bd0ff%3A0xc462cb2728687754!2s3Arena!5e0!3m2!1sen!2sie!
        4v1683990477254!5m2!1sen!2sie" width="600" height="450"
                style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </p>

    {% endblock %}



