{% extends 'base.html.twig' %}

{% block title %}Edit BandMember{% endblock %}

{% block body %}
    <h1>Edit BandMember</h1>

    {{ include('band_member/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_band_member_show',{'id':  bmId }) }}">back to list</a>

    {{ include('band_member/_delete_form.html.twig') }}
{% endblock %}
